.bg-img{
    position:absolute;
    height:100vh;
    width:100%;
    top:0;
    left:0;
     background-image: url("../../assets/fondo.jpg");
     background-size:cover;
      z-index:-1;
  }

#main{
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}