<div class="container-fluid mt-5">
    <div class="row" >
        <div class="col-6 offset-1 form-control" style="background: rgba(0,0,0,0.8); padding: 2px">
                <i class="fas fa-search mr-2" style="color:#83ffb4"></i>            
                <input type="text" placeholder="search destiny..." v-model="search">
        </div>
        <div class="col-4 form-control" style="background: rgba(0,0,0,0.8); padding: 2px">
                <i class="fas fa-users mr-2" style="color:#83ffb4"></i>
                <input type="number" min="1" v-model="numPeople" style="max-width: 100px">
            </div>
    </div>
    <div class="row mt-2">
        <div class="col-10 offset-1" style="padding: 0">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th>Destiny</th>
                        <th>Duration</th>
                        <th>Price/Person</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="d in filterDests()">
                        <td>{{d.name}}</td>
                        <td>{{d.duration}}</td>
                        <td>{{d.pricePP}}</td>
                        <td style="font-weight:800">{{getTotal(d.pricePP)}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>